@font-face{
    font-family: 'TT_Skip-E';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('./WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
         url('./WOFF/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff'),
         url('./OTF/SourceCodePro-ExtraLight.otf') format('opentype'),
         url('./TTF/SourceCodePro-ExtraLight.ttf') format('truetype');
